<manifest package="com.youTransactor.uCube"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >

        <activity android:name=".bluetooth.ble.BleConnexionActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".bluetooth.bt.BtConnexionActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
    </application>

</manifest>
