<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ ============================================================================
  ~
  ~ Copyright (c) 2022 YouTransactor
  ~
  ~ All Rights Reserved.
  ~
  ~ This software is the confidential and proprietary information of YouTransactor
  ~ ("Confidential Information"). You  shall not disclose or redistribute such
  ~ Confidential Information and shall use it only in accordance with the terms of
  ~ the license agreement you entered into with YouTransactor.
  ~
  ~ This software is provided by YouTransactor AS IS, and YouTransactor
  ~ makes no representations or warranties about the suitability of the software,
  ~ either express or implied, including but not limited to the implied warranties
  ~ of merchantability, fitness for a particular purpose or non-infringement.
  ~ YouTransactor shall not be liable for any direct, indirect, incidental,
  ~ special, exemplary, or consequential damages suffered by licensee as the
  ~ result of using, modifying or distributing this software or its derivatives.
  ~
  ~ ==========================================================================
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youtransactor.sampleapp">

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".payment.PaymentActivity"/>

        <activity android:name=".test.TestActivity"/>

        <activity android:name=".SetupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".connexion.ListPairedUCubeActivity"/>
        <activity android:name=".connexion.ListPairedUCubeTouchActivity"/>
        <activity android:name=".connexion.UCubeTouchScanActivity"/>
    </application>
</manifest>