<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2011-2021, YouTransactor. All Rights Reserved.
  ~
  ~ Use of this product is contingent on the existence of an executed license
  ~ agreement between YouTransactor or one of its sublicensee, and your
  ~ organization, which specifies this software's terms of use. This software
  ~ is here defined as YouTransactor Intellectual Property for the purposes
  ~ of determining terms of use as defined within the license agreement.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youtransactor.sampleapp">

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".payment.PaymentActivity"/>

        <activity android:name=".test.TestActivity"/>

        <activity android:name=".SetupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="io.fabric.ApiKey"
            android:value="ae2664c7159b72049a1d19c857806a34504ff75e" />

        <activity android:name=".connexion.ListPairedUCubeActivity"/>
        <activity android:name=".connexion.ListPairedUCubeTouchActivity"/>
        <activity android:name=".connexion.UCubeTouchScanActivity"/>
    </application>
</manifest>